.footer{
    display:flex;
    height: 132px;
    width: 100%;
    background: #121116;
    z-index: 10;
    padding-left: 228px;
    width: 100%;
    border-top: 1px solid #0c0b0f;

}

    //Прижатый футер
* {
  margin: 0;
  padding: 0;
}
html,
body,
.wrapper {
  height: 100%;
}
.content {
  box-sizing: border-box;
  min-height: 100%;
  padding-bottom: 132px;
}
.footer {
  height: 132px;
  margin-top: -132px;
}

//Прижатый футер end

.footer__content{
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    margin-left: 15px;
}
.footer__copy{
    margin: 0;
    font-size:11px;
    line-height: 12px;
    color:#c9c9c9;
}

.footer__logo{
    position: relative;
    left: -7px;
    margin-bottom: 5px;
}

.footer__content_right{
    align-content: flex-end;
        margin-left: auto;
        margin-right: 15px;
}
.footer__image{
    margin: 7px 0;
}

