.statistics {
    margin-top: 41px;
    display: flex;
    justify-content: center;
    padding-top: 22px;
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 64px;
        position: relative;
        &+& {
            &:before {
                content: '';
                display: block;
                position: absolute;
                height: 100px;
                width: 1px;
                background: #e6e6e6;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    &__image {
        width: 49px;
        height: 52px;
        background: url('../img/statistic-icons.png');
        display: inline-block;
        margin-bottom: 20px;
        &_coin{
            background-position-x: 0;
        }
                &_speedometr{
                background-position-x: -49px;
    width: 54px;
        }
                        &_user{
                background-position-x: -106px;
    width: 54px;
        }
                                &_coin2{
                background-position-x: -161px;
        }
        
    }
    &__value {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 1px;
    }
    &__title {
        margin-bottom: 2px;
        text-align: center;
    }
    &__link {
        font-weight: normal;
    }
}

@media (max-width:768px) {
    .statistics {
        //   flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        &__item {
            padding: 0 46px;
            flex: 2;
            margin-bottom: 15px;
            &+& {
                &:before {
                    display: none;
                }
            }
        }
    }
}

@media(max-width:603px) {
    .statistics {
        &__item {
            padding: 0 73px;
        }
    }
}

@media(max-width:420px) {
    .statistics {
        &__item {
            padding: 0 43px;
        }
    }
}