.wrap {
  box-sizing: border-box;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  position: relative;
}

@media (max-width:768px){
    .wrap {
        padding-top: 75px;
}
}