.header {
    &__topline {
        padding-top: 59px;
    }
    &__navigation {
        float: right;
        margin-top: 8px;
    }
}


@media (max-width: 414px) {
    .header__navigation {
        float: none;
        margin-top: 15px;
    }
    .header__topline {
        text-align: center;
    }
    .navigation__ul {
        justify-content: center;
    }
    .header__main {
        text-align: center;
    }
}