.icon {
    &__prev {
        width: 112px;
        height: 12px;
        opacity: 0.25;
        display: inline-block;
        background-image: url('../img/arrow-left.png');
        transition: opacity .3s ease-in-out;
        &:hover {
            opacity: 0.6;
        }
    }
    &__next {
        width: 112px;
        height: 12px;
        opacity: 0.25;
        display: inline-block;
        background-image: url('../img/arrow-right.png');
        transition: opacity .3s ease-in-out;
        &:hover {
            opacity: 0.6;
        }
    }
}