body {
  font-family: 'Roboto', sans-serif;
  font-size: var(--fontSize);
  color: var(--mainColor);
  box-sizing: border-box;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.17rem; }
h4 { font-size: 1.12rem; }
h5 { font-size: .83rem; }
h6 { font-size: .75rem; }

a{
  color: var(--accentColor);
  transition: all .3s ease-in-out;
}

a:hover, a:focus{
    color: var(--darkColor);
}

select{
  background: transparent;
  border: #686868 solid 1px;
  -webkit-appearance:none;
     -moz-appearance:none;
          appearance:none;
  padding-right: 20px;
  padding-left: 5px;
  margin-right: 10px;
  background: #fff url(img/arrow.png) 96% center no-repeat;
}
