.header {
    position: fixed;
    width: 100%;
    z-index: 20;
    height: 0px;
    background: transparent;
    transition:background .3s ease-in-out,height .3s ease-in-out;
    &_dark{
        background: rgba(0,0,0,0.5);
        height: 95px;
    }
    // &:after{
    //     content:'';
    //     display: block;
    //     height: 90px;
    //     background: rgba(0,0,0,0.5);
    //     width: 100%;
    //     position: fixed;
    //     z-index: -1;
    // }
    &__container {
        display: flex;
        align-items: baseline; // justify-content: space-between;
    }
    &__logo {
        position: relative;
        top: 13px;
    }
}