.head {
    height: 100vh;
    width: 100%;
    // padding-top: 100px;
    box-sizing: border-box;
    // background: url('./assets/images/header-bg.jpg') center center no-repeat;
    background-size: cover;
    position: relative;
        z-index:2;
    &__container {
        text-align: center;
        padding: 14% 20% 0 20%;
    }
    &__background-title{
            position: absolute;
    font-size: 167px;
    font-weight: 600;
    text-transform: uppercase;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.25;
    z-index: 0;
    top:30%;
    white-space: nowrap;
    }
    &__title {
        margin-bottom: 20px;
        position: relative;
        z-index: 1;
    }
    &__subtitle {
        margin-bottom: 31px;
        z-index: 1;
    }
    &__btn {
        margin-bottom: 21.5%;
        z-index: 1;
    }
}