@font-face {
    font-family: 'montserratregular';
    src: url('../etc/fonts/Montserrat-Regular-webfont.eot');
    src: url('../etc/fonts/Montserrat-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../etc/fonts/Montserrat-Regular-webfont.woff') format('woff'),
         url('../etc/fonts/Montserrat-Regular-webfont.ttf') format('truetype'),
         url('../etc/fonts/Montserrat-Regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

