body {
  background: #444;
  font-size: 16px;
  font-family: Georgia;
  color: #fff;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
#wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
}
.achieve {
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 1rem;
  width: 100px;
  height: 100px;
  background: #f7f5f8;
  border-radius: 50%;
  border: 5px solid #933ec5;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.achieve__counter {
  margin-left: 1rem;
}
.achieve__image {
  z-index: 5;
  width: 64px;
  height: 64px;
}
.achieve__label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  clip: rect(9px auto auto 9px);
  z-index: 1;
  position: absolute;
  bottom: -5px;
  right: -5px;
  background: #f7f5f8;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 5px solid #933ec5;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.label__number {
  color: #933ec5;
  font-weight: bold;
}
