.figure{

}
.figure__image{
    height: 240px;
    object-fit: cover;
    z-index: 1;
    cursor: pointer;
}
.figure__image-wrap{
    position: relative;
}
.figure__image-wrap:hover .figure__image-link{
    opacity: 1;
    color:white;
}
.figure__image-link{
    font-size: 70px;
    color:white;
    text-align: center;
    line-height: 240px;
    transition: opacity .3s ease;
            display: block;
            content: '';
            position: absolute;
            top:0;
            bottom:0;
            right: 0;
            left:0;
            background: rgba(239,35,60,.6);
            z-index: 2;
            opacity: 0;
        }

.figure__image-wrap:hover{
    .figure__image-wrap:before{
        opacity: 1;
    }
}
.figure__title{
    margin-top: rem-calc(30);
    font-family: $header-font-family;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: rem-calc(2);
    color:$primary-color;
}
.figure__text{
    color:$primary-color;
    font-size:rem-calc(17);
    text-align: center;
}
.figure__divider{
    width: 34px;
    height: 4px;
    background: $accent-color;
    margin: 30px auto;
}
