.footer{
    padding: rem-calc(100) 0;
    padding-top: rem-calc(175);
    background: $primary-color;
    color:white;
    clip-path: polygon(0 13%, 100% 0%, 100% 100%, 0% 100%);
}

.footer__wrap{
    display: flex;
    justify-content: space-around;
    margin-bottom: rem-calc(100);
}
.footer__menu{
    li{
        list-style: none;
        font-size: rem-calc(12);
        font-family: $header-font-family;
        text-transform: uppercase;
        line-height: rem-calc(26);
        a{
            color:#fff;
        }
    }
}
.footer__menu-title{
    color:$accent-color;
    font-size: rem-calc(12);
    font-family: $header-font-family;
    margin-bottom: rem-calc(25);
}
.footer__logo{
    position: relative;
    top: -26px;
    display: inline-block;
    background:url(../etc/images/Footer-Logo.png) no-repeat center center;
    width: 118px;
    height: 70px;
}
.footer__cc{
    text-align: center;
    color:#494a56;
}
