.hero {
  background: url(../etc/images/hero.jpg) no-repeat center center;
  background-size: cover;
  height: 100vh;
}
.hero__text{
    padding-top: 30vh;
    h1{
        padding-bottom: rem-calc(40);
    }
}
