.section-1{
    .row{
        padding: rem-calc(100) 0;
        position: relative;
    }
}
.section-2 {
    h3{
        margin-left: rem-calc(80);
    }
}
.section-2__content{
    padding: rem-calc(100) 0;
}
