.promote {
    background: #1f1f1f url("../img/Promote-bg.jpg") center;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding-top: 103px;
    padding-bottom: 123px;
    &__text {
        font-size: 14px;
        margin-bottom: 78px;
    }
}