body.dark {
  background: #222222;
  color: #939495;

  a {
    color: #fff;
  }

  .header-navbar {
    &__link {
      color: #939495;
    }
  }
  .projectName {
    color: #18caa7;
    &__color {
      color: #fff;
    }
  }

  .singIn {
    &__link {
      color: #18caa7;
    }
  }


  .left-aside {
    background: #26282b;
    box-shadow: 7px 0 10px rgba(0, 0, 0, 0.5);
    &__xs-control {
      background: #222;
    }
    .tabs {
      &__item  {
        border-bottom: 1px solid #333438;
        &.active {
          color: #18caa7;
          border-bottom: 1px solid #18caa7;
        }
      }
    }
  }



  .chat {
    &__time {
      color: #fff;
    }
    &__add-massage {
      background-color: #3e3e3e;
      color: #939495;
    }
    input[type="submit"] {
      background: url(../images/plain.png) no-repeat center;
    }
    .mCSB_inside > .mCSB_container {
      margin-right: 50px;
    }
    .mCSB_scrollTools .mCSB_draggerRail {
      background: #313438;
    }
    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
      background: #51555b;
    }
  }

  .bet{
    color: #939495;
    &__big{
      &.coefficient {
        color: #18caa7;
      }
    }
    &__input {

      border: 1px solid #939495;
      background: #3e3e3e url(../images/deposit.png) right 7px center no-repeat;
      color: #fff;
    }
    &__button {
      border: 1px solid #939495;
      background-color: #3e3e3e;
      color: #fff;
    }
    &__profit {
      background: #18caa7 url(../images/profilebg.png) right bottom no-repeat;
      color: #000;
    }

  }
  .chart-block #container {
    background: url(../images/chart/chart.jpg) top right no-repeat;
  }
  .deposit {
    background: #222222;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
    color: #939495;

    .fa {
      color: #222;
      background: #939495;
    }
  }
}
