input[type='text'],input[type='tel'],input[type='email']{
    font-family: $header-font-family;
    padding: rem-calc(25) rem-calc(15)  rem-calc(20);
    border-bottom:5px solid $primary-color;
    transition:border-bottom .3s ease-in-out;
}

input[type='text']:focus,input[type='tel']:focus,input[type='email']:focus{
    border-bottom:5px solid lighten($primary-color, 20%);
}
